@use 'variables' as *;


/* Chrome, Edge and Safari */

body {
    margin: 0;
    background-color: rgb(26, 25, 25);
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-image: url('/FONDO.png');
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #ffffff;
  }

  *::-webkit-scrollbar {
    height: 9px;
    width: 10px;
    margin-left: 7px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #DFE9EB;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #a5a3a3;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #8c8d8d;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #585858;
  }


  span {
    font-weight: bold;
  }

//Navbar
  nav {
    padding: 0px;
    background-color: $black;
    align-items: center;
    height: 100%;
    margin-bottom: 10px;
    width: 100%;

    -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px px 0px rgba(0,0,0,0.75);

    a {
        font-weight: bold;
        color: white;
        padding: 0 15px; /* Aumenta el padding horizontal para el hover */
        text-decoration: none; /* Elimina el subrayado de los enlaces */
        display: block; /* Hace que el área del enlace se expanda */
        height: 100%; /* Hace que el enlace ocupe toda la altura del navbar */
        line-height: 100px; /* Centra verticalmente el texto dentro del enlace */
        position: relative; /* Necesario para el pseudo-elemento */
        transition: background-color 0.3s ease; /* Agrega una transición suave */
        width: 200px;
        span {
            display: block;
        }
    }

    a:hover {
        background-color: $black-hover;
    }

    a.router-link-exact-active {
        color: $main;
      }

      a.router-link-exact-active::after {
        content: "";
        position: absolute;
        top: 0; /* Posiciona el rectángulo en la parte superior del enlace */
        left: 0;
        width: 100%;
        height: 10px; /* Altura del rectángulo verde */
        background-color: $main; /* Color verde */
    }

    .logo-nav{
        width: 90px;
        height: auto;
        margin: 10px;
    }
  }

  .navbar {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
  }

  .main-container {
    min-height: 300px;
    margin-bottom: 30px;
  }

  .menu-btn {
    display: none;
    font-size: 30px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

.nav-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-active {
    display: block;
}

.show-logo {
    display: none;
}

@media (max-width: 1000px) {



    .menu-btn {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: black;
    }

    .nav-links a {
        width: 100%;
        text-align: center;
        padding: 15px 0;
        border-top: 1px solid #2c3e50;
    }

    .nav-active {
        display: flex;
    }

    .navbar {
        flex-direction: column;
    }
}

//Carousel

.carousel__item {
    min-height: 500px;
    width: 100%;
    background-color: rgb(26, 25, 25);
    color: var(--vc-clr-white);
    font-size: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
  }
  
  .carousel__slide {
    padding: 10px;
  }
  
  .carousel__prev,
  .carousel__next {
    box-sizing: content-box;
  }

  .carousel__icon {
    color: white;
  }

///Footer

.footer-container {
    background-color: black;
    padding: 0px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px px 0px rgba(0,0,0,0.75);
    ul {
        display: flex;
        justify-content: center;
        padding: 0;
        li {
            text-decoration: none;
            list-style: none;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 50px;

            a {
                color: white;
            }

            a:visited {
                color: white;

            }
            
            svg {
              transition: transform 0.2s ease-in-out; // Transición suave
            }
        }

        svg:hover{
            transform: scale(1.1);  // Aumenta el tamaño del li sin afectar el flujo
            transition: transform 0.2s ease-in-out; // Transición suave
        }
        
    }

    .text-footer {
        padding-top: 0;
        
    }

}

///INFORMATION

.container {
    justify-content: space-between; /* Distribuye los contenedores en el espacio disponible */
    display: flex;
    margin-bottom: 45px;
    position: relative; /* Importante para que las imágenes se posicionen correctamente */

    .image-container {
        justify-items: center;
        display: flex;
        position: relative; /* Mantiene las imágenes en su flujo normal */
        z-index: 1; /* Las imágenes se mantienen detrás del info-container */

        .photo-1{
          transform: rotate(15deg);
          margin-right: 60px;
          -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
          box-shadow: 0px 0px px 0px rgba(0,0,0,0.75);
          position: relative;
          top: -20px; /* Mueve la imagen hacia arriba */
          z-index: 1; /* Asegura que esta imagen esté encima de la otra */
          margin-top: 20px;

        }

        .photo-2{
          transform: rotate(345deg);
          margin-right: 60px;
          -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
          box-shadow: 0px 0px px 0px rgba(0,0,0,0.75);
          position: relative;
          left: 100px; /* Mueve la imagen hacia abajo */
          z-index: 1; /* Asegura que esta imagen esté debajo de la otra */
        }
    }
}



.info-container {
    background-color: black;
    max-width: 1000px;
    max-height: 1000px;
    -webkit-box-shadow: -1px 0px 12px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 12px 4px rgba(0,0,0,0.75);
    box-shadow: -1px 0px 12px 4px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: center;
    overflow: hidden; /* Asegura que el contenido no se desborde */

    position: relative; /* Para mantener la prioridad de las imágenes */
    z-index: 2; /* Asegura que el texto se muestre encima de las imágenes */

    transform: translateX(-50%); 
    transition: transform 0.4s ease-in-out;

    p {
        max-width: 65ch;
        text-align: justify;
        margin-left: 130px;
        margin-right: 130px;
    }

       /* Ajustes para el primer contenedor */

    /* Ajustes para el segundo contenedor */
    &.left {
        transform: translateX(50%);
        margin-left: auto;

        &:hover{
            transform: translateX(0);
        }
    }

    &.in-view {
        transform: translateX(0); /* Mueve el contenedor a su posición original */
    }

    // &:hover {
    //     transform: translateX(0); /* Mueve el contenedor a su posición original */
    // }

   ul {
    text-align: justify;
    max-width: 65ch;
    margin: 0px 130px 0px 130px;
   }

   a {
    color: $main;
   }

    
}


@media (min-width: 1920px) {
  .container {
    flex-direction: row; /* Mantén el diseño en fila para pantallas grandes */
    align-items: flex-start; /* Alinea los elementos al inicio del contenedor */

    .image-container {
      margin-bottom: 0; /* Elimina el margen inferior para pantallas grandes */
      .photo-1, .photo-2 {
        position: relative; /* Asegúrate de que las imágenes no se superpongan */
      }
    }

    .info-container {
      max-width: 50%; /* Ajusta el ancho del contenedor de información */
      padding: 20px;
      text-align: center; /* Alinea el texto a la izquierda para pantallas grandes */
      transform: translateX(0); /* Resetea cualquier transformación lateral */
      margin: 0; /* Elimina el margen inferior para pantallas grandes */
    }
  }
}

@media screen and (max-width: 1300px) {

  .container {
    flex-direction: column-reverse; /* Coloca los contenedores en una columna */
    align-items: center; /* Centra los contenedores */
    margin-bottom: 30px;

    .image-container {
      justify-content: center;
      margin-bottom: 20px;
      order: 1;
      .photo-1,
      .photo-2 {
        transform: none;
        margin: 0 auto;
        position: relative;
        top: 0;
        left: 0;
        max-width: 100%;
        z-index: 1;
      }
    }

    .info-container {
      order: 2;
      max-width: 90%; /* Ajusta el ancho del contenedor */
      transform: translateX(0); /* No mueve el contenedor lateralmente */
      margin: 20px 0;
      padding: 20px; /* Agrega relleno para mejorar la presentación en dispositivos más pequeños */
      text-align: center;
      z-index: 2;
    }
  }
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column; /* Coloca los contenedores en una columna */
    align-items: center; /* Centra los contenedores */
    margin-bottom: 30px;

    .info-container {
      max-width: 90%; /* Ajusta el ancho del contenedor */
      transform: translateX(0); /* No mueve el contenedor lateralmente */
      margin: 20px 0;
    }

    .image-container {
      margin-bottom: 20px; /* Añade espacio entre las imágenes y el texto */
      justify-content: center;
      .photo-1, .photo-2 {
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        transform: none; /* Resetea cualquier transformación */
        margin: 10px 0; /* Añade espacio entre las imágenes */
      }
    }
  }
}

@media (max-width: 768px) {
  .info-container {
    padding: 20px;
    margin: 10px 0;
    order: 1;
  }

  .image-container {
    flex-direction: column; /* Coloca las imágenes en una columna */
    order: 2;
    .photo-1, .photo-2 {
      width: 80%; /* Ajusta el tamaño de las imágenes */
      margin: 10px auto; /* Centra las imágenes */
    }
  }
}

@media (max-width: 480px) {
  .info-container {
    max-width: 95%; /* Aumenta el ancho del contenedor */
    margin: 5px 0;
    p {
      margin-left: 20px;
      margin-right: 20px;
    }

    ul {
      margin: 0;
    }
  }

  .image-container {
    .photo-1, .photo-2 {
      width: 90%; /* Ajusta el tamaño para pantallas muy pequeñas */
    }
  }
}


///Modal
/// 


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 400px;
  width: 100%;
  color: $black;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal-icon {
  margin-right: 10px;
  font-size: 100px;
  color: $main;
}

.error-icon {
  color: red;
}

.modal-button {
  padding: 10px 20px;
  background-color: $main;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-button:hover {
  background-color: $main-hover;
}

.error {
  background-color: red;

  &:hover {
    background-color: rgb(155, 9, 9);

  }
}


