@use 'variables' as *;

.proyect-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grid-card {
    justify-content: center;
    align-items: center;
}


///Details

.detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $black;
    width: 1000px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 30px;
    justify-content: center;
    
    .img-detail {
        width: 100%;
        height: 300px;
        background-size: cover;
        background-position: center;
        -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px px 0px rgba(0,0,0,0.75);

    }

    .img-detail-2 {
        width: 40%;
        height: 400px;
        background-size: cover;
        background-position: center;
        -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px px 0px rgba(0,0,0,0.75);
    }

    .border-line {
        border: 5px solid white;
    }

    .detail-info {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
            max-width:65ch;
            text-align: justify;
            font-size: large;
        }

        span {
            font-style: italic;
        }

        strong {
            color: $main;
        }

        ul {
            max-width: 45ch;
            font-size: large;
            li {
                margin-bottom: 10px;
            }
        }

        hr {
            width: 95%;
        }

        .video {
            display: flex;
            flex-direction: column;
        }

        video {
            border: 5px solid white;
        }
    }
    
}

